In [1]:
#groupby,群組相同值的資料,並使用統計運算
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

  key1 key2     data1     data2
0    a  one -0.043151  1.132353
1    a  two  1.659001  1.057169
2    b  one  1.210998 -1.173244
3    b  two -0.835377 -0.325832
4    a  one -0.694032  0.293885

In [3]:
df['data1']
df['data1'].groupby(by=['x','x','x','y','y'])

In [5]:
gp1 = df['data1'].groupby(by=['x','x','x','y','y'])
gp1.sum()

x    2.826849
y   -1.529409
Name: data1, dtype: float64

In [6]:
df['data1'].groupby(df['key1']).sum()

key1
a    0.921819
b    0.375622
Name: data1, dtype: float64

In [7]:
df['data1'].groupby([df['key1'],df['key2']]).sum()

key1  key2
a     one    -0.737183
      two     1.659001
b     one     1.210998
      two    -0.835377
Name: data1, dtype: float64

In [8]:
#series的groupby
df2 = df['data1'].groupby([df['key1'],df['key2']]).sum()
df2.unstack(level='key2')

key2       one       two
key1
a    -0.737183  1.659001
b     1.210998 -0.835377

In [14]:
#dataFrame的Groupby
df.groupby()

TypeError: You have to supply one of 'by' and 'level'

In [11]:
df.groupby(by=['key1','key2']).sum()

              data1     data2
key1 key2
a    one  -0.737183  1.426238
     two   1.659001  1.057169
b    one   1.210998 -1.173244
     two  -0.835377 -0.325832

In [10]:
#透過dataFrame的groupby,取出SerialGroupby
df.groupby(by=['key1','key2'])

In [13]:
df3 = df.groupby(by=['key1','key2'])['data1'].sum()
df3.unstack(level='key2')

key2       one       two
key1
a    -0.737183  1.659001
b     1.210998 -0.835377