In [1]:
import pandas as pd
pd.read_csv('world.csv')

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [2]:
import pandas as pd 
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
df1

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [5]:
df2 = df1.iloc[256:275]
df2

     洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
256  亞洲  阿富汗  2020-11-06  41935    121  39835428  99999.0
257  亞洲  阿富汗  2020-11-07  41975     40  39835428  99999.0
258  亞洲  阿富汗  2020-11-08  42033     58  39835428  99999.0
259  亞洲  阿富汗  2020-11-09  42159    126  39835428  99999.0
260  亞洲  阿富汗  2020-11-10  42297    138  39835428  99999.0
261  亞洲  阿富汗  2020-11-11  42463    166  39835428  99999.0
262  亞洲  阿富汗  2020-11-12  42609    146  39835428  99999.0
263  亞洲  阿富汗  2020-11-13  42795    186  39835428  99999.0
264  亞洲  阿富汗  2020-11-14  42969    174  39835428  99999.0
265  亞洲  阿富汗  2020-11-15  43035     66  39835428  99999.0
266  亞洲  阿富汗  2020-11-16  43240    205  39835428  99999.0
267  亞洲  阿富汗  2020-11-17  43403    163  39835428  99999.0
268  亞洲  阿富汗  2020-11-18  43628    225  39835428  99999.0
269  亞洲  阿富汗  2020-11-19  43851    223  39835428  99999.0
270  亞洲  阿富汗  2020-11-20  44228    377  39835428  99999.0
271  亞洲  阿富汗  2020-11-21  44443    215  39835428  99999.0
272  亞洲  阿富汗  2020-11-22  44503     60  39835428  99999.0
273  亞洲  阿富汗  2020-11-23  44706    203  39835428  99999.0
274  亞洲  阿富汗  2020-11-24  44988    282  39835428  99999.0

In [6]:
df2['新增確診數'] > 200

256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266     True
267    False
268     True
269     True
270     True
271     True
272    False
273     True
274     True
Name: 新增確診數, dtype: bool

In [7]:
df2[df2['新增確診數'] > 200]

     洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
266  亞洲  阿富汗  2020-11-16  43240    205  39835428  99999.0
268  亞洲  阿富汗  2020-11-18  43628    225  39835428  99999.0
269  亞洲  阿富汗  2020-11-19  43851    223  39835428  99999.0
270  亞洲  阿富汗  2020-11-20  44228    377  39835428  99999.0
271  亞洲  阿富汗  2020-11-21  44443    215  39835428  99999.0
273  亞洲  阿富汗  2020-11-23  44706    203  39835428  99999.0
274  亞洲  阿富汗  2020-11-24  44988    282  39835428  99999.0

In [10]:
df2 = df1.iloc[256:275]
s1 = df2['新增確診數'] > 200
df2[s1]

     洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
266  亞洲  阿富汗  2020-11-16  43240    205  39835428  99999.0
268  亞洲  阿富汗  2020-11-18  43628    225  39835428  99999.0
269  亞洲  阿富汗  2020-11-19  43851    223  39835428  99999.0
270  亞洲  阿富汗  2020-11-20  44228    377  39835428  99999.0
271  亞洲  阿富汗  2020-11-21  44443    215  39835428  99999.0
273  亞洲  阿富汗  2020-11-23  44706    203  39835428  99999.0
274  亞洲  阿富汗  2020-11-24  44988    282  39835428  99999.0

In [12]:
df1[df1['國家']=='台灣']

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]