In [1]:
import pandas as pd
pd.read_csv('個股日成交資訊.csv')       #直接轉成dataFrame

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,"46,790,503","3,463,425,684",74.95,75.25,72.80,72.80,-2.05,"23,021"
1,0051,元大中型100,"43,172","1,177,199",27.30,27.57,26.75,26.75,-0.52,45
2,0052,富邦科技,"161,425","9,156,750",57.60,57.60,55.35,55.35,-2.35,67
3,0053,元大電子,"35,076","1,163,448",33.36,33.61,32.56,32.69,-0.67,19
4,0054,元大台商50,"27,028","507,569",18.80,19.00,18.64,18.64,-0.36,13
...,...,...,...,...,...,...,...,...,...,...
1108,9944,新麗,"1,463,020","22,024,560",15.60,15.60,14.60,14.65,-0.75,796
1109,9945,潤泰新,"5,262,676","178,768,894",34.20,34.30,33.40,33.40,-0.65,"3,169"
1110,9946,三發地產,"871,456","10,936,770",12.55,12.55,12.55,12.55,-1.35,46
1111,9955,佳龍,"827,246","10,257,476",13.10,13.10,11.85,12.10,-0.50,412
1112,9958,世紀鋼,"10,816,881","868,126,524",81.00,81.80,78.50,79.50,+0.90,"6,743"

In [5]:
pd.read_csv('個股日成交資訊.csv',index_col='證券代號')

,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
證券代號,,,,,,,,,
0050,元大台灣50,"46,790,503","3,463,425,684",74.95,75.25,72.80,72.80,-2.05,"23,021"
0051,元大中型100,"43,172","1,177,199",27.30,27.57,26.75,26.75,-0.52,45
0052,富邦科技,"161,425","9,156,750",57.60,57.60,55.35,55.35,-2.35,67
0053,元大電子,"35,076","1,163,448",33.36,33.61,32.56,32.69,-0.67,19
0054,元大台商50,"27,028","507,569",18.80,19.00,18.64,18.64,-0.36,13
...,...,...,...,...,...,...,...,...,...
9944,新麗,"1,463,020","22,024,560",15.60,15.60,14.60,14.65,-0.75,796
9945,潤泰新,"5,262,676","178,768,894",34.20,34.30,33.40,33.40,-0.65,"3,169"
9946,三發地產,"871,456","10,936,770",12.55,12.55,12.55,12.55,-1.35,46
9955,佳龍,"827,246","10,257,476",13.10,13.10,11.85,12.10,-0.50,412
9958,世紀鋼,"10,816,881","868,126,524",81.00,81.80,78.50,79.50,+0.90,"6,743"

In [10]:
pd.read_csv('個股日成交資訊.csv',usecols=['證券名稱','開盤價','最高價','最低價','漲跌價差'])   
pd.read_csv('個股日成交資訊.csv',index_col=0,usecols=['證券名稱','開盤價','最高價','最低價','漲跌價差'])

           開盤價    最高價    最低價   漲跌價差
證券名稱
元大台灣50   74.95  75.25  72.80  -2.05
元大中型100  27.30  27.57  26.75  -0.52
富邦科技     57.60  57.60  55.35  -2.35
元大電子     33.36  33.61  32.56  -0.67
元大台商50   18.80  19.00  18.64  -0.36
...        ...    ...    ...    ...
新麗       15.60  15.60  14.60  -0.75
潤泰新      34.20  34.30  33.40  -0.65
三發地產     12.55  12.55  12.55  -1.35
佳龍       13.10  13.10  11.85  -0.50
世紀鋼      81.00  81.80  78.50  +0.90

[1113 rows x 4 columns]

In [11]:
pd.read_excel('ex3.xlsx')

   Unnamed: 0.1  Unnamed: 0  a   b   c   d message
0             0           0  1   2   3   4   hello
1             1           1  5   6   7   8   world
2             2           2  9  10  11  12     foo

In [14]:
import json
with open('aqx_p_488.json',encoding='utf-8') as file:
    data = json.load(file)

pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [15]:
import json
with open('example.json',encoding='utf-8') as file:
    data = json.load(file)

pd.DataFrame(data)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9