In [1]:
#階層式的索引
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[
                    ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                    [1, 2, 3, 1, 2, 3, 1, 2, 3]
                ]
)
s1

a  1    0.185092
   2   -0.920679
   3    0.724117
b  1    0.247623
   2   -0.743748
c  3    1.125790
   1   -0.056400
d  2   -1.583029
   3   -0.311126
dtype: float64

In [2]:
s1['a']

1    0.185092
2   -0.920679
3    0.724117
dtype: float64

In [3]:
s1[['a','d']]

a  1    0.185092
   2   -0.920679
   3    0.724117
d  2   -1.583029
   3   -0.311126
dtype: float64

In [4]:
s1[('a', 3)]

np.float64(0.7241168885667517)

In [8]:
s1.index.names = ['key1','key2']

In [9]:
s1      #s1為二維資料(2組索引就是2維資料也稱為stack堆疊資料)

key1  key2
a     1       0.185092
      2      -0.920679
      3       0.724117
b     1       0.247623
      2      -0.743748
c     3       1.125790
      1      -0.056400
d     2      -1.583029
      3      -0.311126
dtype: float64

In [10]:
s1.unstack(level='key2')    #變成非堆疊資料的2維資料

key2         1         2         3
key1
a     0.185092 -0.920679  0.724117
b     0.247623 -0.743748       NaN
c    -0.056400       NaN  1.125790
d          NaN -1.583029 -0.311126

In [11]:
s1.unstack(level='key1')

key1         a         b        c         d
key2
1     0.185092  0.247623 -0.05640       NaN
2    -0.920679 -0.743748      NaN -1.583029
3     0.724117       NaN  1.12579 -0.311126

In [12]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [13]:
s2 = frame.stack(level=['縣市','顏色'])
s2

/tmp/ipykernel_59311/3428581672.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  s2 = frame.stack(level=['縣市','顏色'])

key1  key2  縣市  顏色
a     1     台中  Green     2.0
            台北  Green     0.0
                Red       1.0
      2     台中  Green     5.0
            台北  Green     3.0
                Red       4.0
b     1     台中  Green     8.0
            台北  Green     6.0
                Red       7.0
      2     台中  Green    11.0
            台北  Green     9.0
                Red      10.0
dtype: float64

In [14]:
s2.unstack(level=['key1','縣市'])

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0